@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0A;
  color: #E0E0E0;
  font-family: 'Segoe UI', sans-serif;
}

button {
  @apply bg-teslaRed text-white px-4 py-2 rounded-lg transition hover:bg-red-700;
}
